<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>35050092388-f2bsvdfmg7l3i0nehuvcn6b8gpbmnpsk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.35050092388-f2bsvdfmg7l3i0nehuvcn6b8gpbmnpsk</string>
	<key>API_KEY</key>
	<string>AIzaSyByCwPOyIpEhedEtWJic7QPYXULsNkXKVg</string>
	<key>GCM_SENDER_ID</key>
	<string>35050092388</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ekkbaz.business.ios</string>
	<key>PROJECT_ID</key>
	<string>ekkrtc</string>
	<key>STORAGE_BUCKET</key>
	<string>ekkrtc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35050092388:ios:877b4295eaada4ba</string>
	<key>DATABASE_URL</key>
	<string>https://ekkrtc.firebaseio.com</string>
</dict>
</plist>